<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageProcessing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <ImageProcessing.Properties.Settings>
            <setting name="tessedataPath" serializeAs="String">
                <value>F:\Project\tessdata3\</value>
            </setting>
            <setting name="defaultLang" serializeAs="String">
                <value>eng</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.\SQLExpress;Initial Catalog=OCRDB;Integrated Security=True;Pooling=False</value>
            </setting>
            <setting name="StoreinDatabase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value>F:\Project\sampleImages\</value>
            </setting>
        </ImageProcessing.Properties.Settings>
    </userSettings>
</configuration>